TagItem(
    info: {
        "name":        String("A book"),
        "db_name":     String("roadside_picnic"),
        "type":        String("book"),
        "description": String("A masterpiece"),

        "text": ArrString(["book", "book"]),
    }
)